<section id="sobreEle">
      <div class="containerSobreEle">
        <div class="cardSobreEle">
          <h2>Title</h2>
          <div class="card_size">
            <img
              src="{{img}}"
              alt=""
            />
            <h3><span>Seu</span> Nome</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio aliquid ratione aut. Distinctio, repudiandae quisquam impedit perspiciatis nihil facere accusamus quasi voluptatibus est aliquid architecto assumenda, maxime vel. Molestias minima mollitia quae neque, qui exercitationem illo repellendus obcaecati nisi repudiandae quam nobis quas ipsum ut? Quis temporibus quas rem rerum cupiditate reprehenderit expedita nesciunt iure officia facere, voluptatum eius laudantium, natus aperiam illo labore odio ullam aspernatur commodi autem veritatis minus tempore dicta exercitationem! Atque, consequuntur ullam vel aspernatur minima maiores cum cumque voluptas nam voluptatibus. Minus, eius debitis laboriosam laudantium aliquam magnam alias et tempora molestias voluptatem nihil veritatis?
            </p>
          </div>
        </div>

        <div class="textoP">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, dolor a? Non doloribus ducimus dolorum repellat aliquam, a neque maxime nobis porro obcaecati, fugit praesentium nulla facilis, fugiat magnam cupiditate veniam? Molestias consectetur culpa quo nisi laboriosam, velit modi obcaecati est. Ipsam debitis, sapiente voluptatem omnis eaque, iste optio, rem pariatur provident ducimus nesciunt et? Quisquam, modi! Unde odit magni, voluptatem laborum recusandae impedit et nemo repellendus a. Cum quasi fuga laudantium molestiae, pariatur facilis qui dolor ad exercitationem quas error explicabo aliquid quae atque? Maxime aliquam laudantium, voluptatibus fugit sed modi dicta, nulla illo inventore minus expedita provident explicabo.
          </p>
        </div>

      <div class="imgSobreEle">
          <img src="{{img}}" alt="">
    </div>
  </div>
</section>
