<section id="hero">
      <div class="container-textos">
        <h1>
          SEU <span>TEXTO</span> AQUI.
        </h1>
        <p class="primeiroTexto">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ipsum labore consequuntur, explicabo itaque, inventore impedit voluptatum similique corporis possimus dignissimos reprehenderit eveniet. Consequatur, atque ratione neque iusto quaerat architecto!
        </p>

        <div class="containerBotao">
          <a href="" target="_blank">BUTTON</a
          >
        </div>
      </div>
</section>
