<section id="sobreConteudo">
      <div class="textosSobre">
        <div class="tituloSobre">
          <h2><span>Sobre</span> o Conteúdo</h2>
        </div>

        <div class="textoP">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, dolor a? Non doloribus ducimus dolorum repellat aliquam, a neque maxime nobis porro obcaecati, fugit praesentium nulla facilis, fugiat magnam cupiditate veniam? Molestias consectetur culpa quo nisi laboriosam, velit modi obcaecati est. Ipsam debitis, sapiente voluptatem omnis eaque, iste optio, rem pariatur provident ducimus nesciunt et? Quisquam, modi! Unde odit magni, voluptatem laborum recusandae impedit et nemo repellendus a. Cum quasi fuga laudantium molestiae, pariatur facilis qui dolor ad exercitationem quas error explicabo aliquid quae atque? Maxime aliquam laudantium, voluptatibus fugit sed modi dicta, nulla illo inventore minus expedita provident explicabo.
          </p>
        </div>
      </div>

      <div class="video">
        <iframe
          class="w-full aspect-video ..."
          src="https://www.youtube.com/embed/MLpWrANjFbI"
        ></iframe>
      </div>
    </section>
