@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

    font-family: Montserrat;

    font-weight: 700;
}

li a:hover {
    color: rgba(175, 6, 0, 1);
}

/* Header config */
header {
    position: relative;
    padding: 0 2rem;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 90px;
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .links, .navbar .links2 {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.navbar .links svg, .navbar .links2 svg  {
    width: 30px;
    height: 30px;
}

/* Dropdown menu */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 140px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    border-radius: 20px;
    height: 0;

    transition: .3s;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.dropdown_menu.open {
    height: 420px;
}

.dropdown_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown_menu li {
    margin: 1rem 0;
    padding-inline: 8rem;
}

/* Responsividade */
@media screen and (max-width: 992px) {
    .navbar > .links,
    .navbar > .links2 {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}
